#home{
    background-image: url("https://media.istockphoto.com/id/2164159033/photo/abstract-blue-background-blured-texture-modern-backdrop.jpg?s=612x612&w=0&k=20&c=z0z1ZylbG10URlJXPOGZFJUkdiMsWHQ_Hbss92WAL1I=");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#nav{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNft1fxYUhFfMNi01tjpSvucw1uehfxJpgUA&s");
}
.add-bg{
    background-image: url("https://media.istockphoto.com/id/2164159033/photo/abstract-blue-background-blured-texture-modern-backdrop.jpg?s=612x612&w=0&k=20&c=z0z1ZylbG10URlJXPOGZFJUkdiMsWHQ_Hbss92WAL1I=");
    background-repeat: no-repeat;
    background-size: cover;
}
.add{
    border-radius: 30px;
    background-image: url("https://media.istockphoto.com/id/2164159033/photo/abstract-blue-background-blured-texture-modern-backdrop.jpg?s=612x612&w=0&k=20&c=z0z1ZylbG10URlJXPOGZFJUkdiMsWHQ_Hbss92WAL1I=");
    background-repeat: no-repeat;
    background-size: cover;
}
.edit-bg{
    background-image: url("https://media.istockphoto.com/id/2164159033/photo/abstract-blue-background-blured-texture-modern-backdrop.jpg?s=612x612&w=0&k=20&c=z0z1ZylbG10URlJXPOGZFJUkdiMsWHQ_Hbss92WAL1I=");
    background-repeat: no-repeat;
    background-size: cover;

}
.edit{
    border-radius: 30px;
    background-image: url("https://media.istockphoto.com/id/2164159033/photo/abstract-blue-background-blured-texture-modern-backdrop.jpg?s=612x612&w=0&k=20&c=z0z1ZylbG10URlJXPOGZFJUkdiMsWHQ_Hbss92WAL1I=");
    background-repeat: no-repeat;
    background-size: cover;
}